@import "mixins.scss";

.theme-image {
    margin-bottom: 30px;
    &.is-style-center {
        text-align: center;
    }
    &.is-style-right {
        text-align: right;
    }
    @include screen(1024) {
        margin-bottom: 60px;
    }
}