.theme-image {
  margin-bottom: 30px;
}
.theme-image.is-style-center {
  text-align: center;
}
.theme-image.is-style-right {
  text-align: right;
}
@media only screen and (min-width: 1024px) {
  .theme-image {
    margin-bottom: 60px;
  }
}

/*# sourceMappingURL=style.css.map */
