.image-text {
  padding: 25px;
  background: var(--one);
  background-repeat: no-repeat;
}
.image-text .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.image-text .flex {
  flex: 0 0 48.5%;
  max-width: 560px;
  margin-bottom: 25px;
}
@media only screen and (min-width: 500px) and (max-width: 1023px) {
  .image-text .flex {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.image-text .image {
  flex: 0 0 48.5%;
  max-width: 675px;
}
.image-text .media {
  text-align: center;
}
@media only screen and (min-width: 500px) and (max-width: 1023px) {
  .image-text .media {
    width: 100%;
  }
}
.image-text .wp-block-image {
  margin-bottom: 30px;
}
.image-text .wp-block-buttons {
  margin-top: 30px;
}
.image-text figure {
  text-align: center;
}
.image-text img {
  max-width: 80%;
  height: auto;
}

@media only screen and (min-width: 1024px) {
  .image-text {
    padding: 80px 0;
  }
  .image-text .wrapper {
    flex-direction: row;
  }
  .image-text .wp-block-image {
    margin-bottom: 60px;
  }
  .image-text .wp-block-buttons {
    margin-top: 40px;
  }
  .image-text .flex {
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
