{% extends "block-base.twig" %}

{% block content %}
<section class="image-text {{block.className}}" {{blockSection(block)}} style="--one:url(https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/image-text/background.png);">
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="media">
                {{imageElement(fields.content.image)}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
