.contact-block-one {
  background: #f5f4f4;
  padding: 100px 0;
}
.contact-block-one .wrapper {
  background: white;
  margin: 10px;
  padding: 20px;
}
.contact-block-one .content {
  max-width: 650px;
  margin: auto;
}
.contact-block-one h3 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 700;
  color: #ce1126;
}
.contact-block-one input:not([type=submit]) {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  background: #f5f4f4;
  padding-left: 20px;
}
.contact-block-one input[type=submit] {
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease-out;
  background: #ce1126;
  color: #fff;
  font-weight: 700;
  padding: 16px 58px;
  border-radius: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
}
.contact-block-one input[type=submit]:hover {
  background: #9f0d1d;
}
.contact-block-one textarea {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  border: none;
  outline: none;
  background: #f5f4f4;
  padding: 20px;
  height: 100%;
}
.contact-block-one .form-wrapper {
  margin: 35px 0;
}
.contact-block-one .form-submit {
  margin: auto;
  margin-top: 50px;
  max-width: fit-content;
}
.contact-block-one .form-field {
  overflow: hidden;
}
.contact-block-one .form-field.message {
  height: 100%;
}
.contact-block-one .form-field.message > div, .contact-block-one .form-field.message p {
  height: 100%;
}
.contact-block-one .left {
  margin-bottom: 27px;
}
.contact-block-one .left .form-field:not(:last-child) {
  margin-bottom: 25px;
}
.contact-block-one .form p {
  margin: 0;
}
.contact-block-one .form br {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .contact-block-one .wrapper {
    padding: 60px 100px;
    margin: 0;
  }
  .contact-block-one .form-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .contact-block-one .form-wrapper .left {
    flex: 0 0 48.5%;
    max-width: 48.5%;
    margin-bottom: 0;
  }
  .contact-block-one .form-wrapper .right {
    flex: 0 0 48.5%;
    max-width: 48.5%;
  }
  .contact-block-one input:not([type=submit]) {
    min-width: 445px;
  }
  .contact-block-one textarea {
    min-width: 405px;
    max-height: 282px;
  }
}

/*# sourceMappingURL=style.css.map */
