@import "mixins.scss";

.contact-block-one {
    background:rgba(245, 244, 244, 1);
    padding: 100px 0;
    .wrapper {
        background:white;
        margin: 10px;
        padding: 20px;
    }
    .content {
        max-width: 650px;
        margin: auto;
    }
    h3 {
        font-size: 40px;
        line-height: 46px;
        font-weight:700;
        color:rgba(206, 17, 38, 1);
    }
    input {
        &:not([type=submit]) {
            font-family: "Ubuntu",sans-serif;
            width:100%;
            height:60px;
            border:none;
            outline:none;
            background:rgba(245, 244, 244, 1); 
            padding-left: 20px;
        }
        &[type=submit] {
            font-family: "Ubuntu",sans-serif;
            transition: all 0.3s ease-out;
            background: #ce1126;
            color: #fff;
            font-weight: 700;
            padding: 16px 58px;
            border-radius: 0;
            font-size: 16px;
            border: none;
            cursor:pointer;
            width: 100%;
            text-transform: uppercase;
            font-family: "Ubuntu",sans-serif;
            &:hover {
                background:darken(#ce1126, 10%);
            }
        }
    }
    textarea {
        font-family: "Ubuntu",sans-serif;
        width:100%;
        border:none;
        outline:none;
        background:rgba(245, 244, 244, 1); 
        padding:20px;
        height: 100%;
    }
    .form-wrapper {
        margin: 35px 0;
    }
    .form-submit {
        margin: auto;
        margin-top:50px;
        max-width: fit-content;
    }
    .form-field {
        overflow:hidden;
        &.message {
            height: 100%;
            & > div,
            & p {
                height: 100%;
            }
        }
    }
    .left {
        margin-bottom: 27px;
        .form-field {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    .form {
        p {
            margin:0;
        }
        br {
            display:none;
        }
    }
}

@include screen(1024) {
    .contact-block-one {
        .wrapper {
            padding: 60px 100px;
            margin:0;
        }
        .form-wrapper {
            display:flex;
            justify-content: space-between;
            .left {
                flex: 0 0 48.5%;
                max-width: 48.5%;
                margin-bottom: 0;
            }
            .right {
                flex: 0 0 48.5%;
                max-width: 48.5%;
            }
        }
        input {
            &:not([type=submit]) {
                min-width: 445px;
            }
        }
        textarea {
            min-width: 405px;
            max-height: 282px;
        }
    }
}