{% extends "block-base.twig" %}

{% block content %}
<section class="contact-block-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="content">
            {{fields.content.content}}
            </div>
            <div class="form">
              {{fn('do_shortcode', fields.content.shortcode )}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
