@import "mixins.scss";

.image-text-php {
    padding: 25px;
    background:var(--one);
    background-repeat: no-repeat;
    .wrapper {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
    }
    .flex {
        flex:0 0 48.5%;
        max-width: 560px;
        margin-bottom: 25px;
        @include screen(500, 1023) {
            flex:0 0 100%;
            max-width: 100%;
        }
    }
    .image {
        flex:0 0 48.5%;
        max-width: 675px;
    }
    .media {
        text-align: center;
        @include screen(500, 1023) {
            width: 100%;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    figure {
        text-align: center;
    }
    img {
        max-width: 80%;
        height: auto;
    }
}

@include screen(1024) {
    .image-text-php {
        padding: 80px 0;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
    }
}