footer {
  padding: 25px;
  background: var(--one);
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  background-position: bottom;
}
footer .logo {
  margin-bottom: 20px;
}
footer .logo img {
  height: 89px;
  width: 246px;
}
footer .name {
  margin-bottom: 30px;
}
footer .phone,
footer .email,
footer .address {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}
footer .phone img,
footer .email img,
footer .address img {
  margin-left: 23px;
}
footer .left {
  display: flex;
  align-items: flex-end;
  padding-bottom: 50px;
}
footer .left img {
  max-width: 150px;
  height: auto;
}
footer .right {
  padding-bottom: 75px;
  text-align: right;
}
footer .right a {
  text-decoration: none;
  color: #333333;
}

@media only screen and (min-width: 1024px) {
  footer {
    padding: 25px;
    background-position: left;
  }
  footer:before {
    content: "";
    position: absolute;
    background: var(--two);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 78%;
    background-size: 59%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
    padding-top: 60px;
  }
  footer .left {
    padding-bottom: 0px;
  }
  footer .right {
    padding-bottom: 0px;
    flex: 0 0 500px;
    max-width: 500px;
  }
}
.fade-up {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*# sourceMappingURL=style.css.map */
