@import "mixins.scss";

footer {
    padding:25px;
    // background:url('/wp-content/themes/system-label/blocks/theme-footer/footer-bg.png');
    background:var(--one);
    background-repeat: no-repeat;
    position:relative;

    background-size: contain;
    background-position: bottom;
    .logo {
        margin-bottom:20px;
        img {
            height:89px;
            width:246px;
        }
    }
    .name {
        margin-bottom:30px;
    }
    .phone,
    .email,
    .address {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top:20px;
        img {
            margin-left:23px;
        }
    }
    .left {
        display: flex;
        align-items: flex-end;
        padding-bottom: 50px;
        img {
            max-width: 150px;
            height: auto;
        }
    }
    .right {
        padding-bottom: 75px;
        text-align:right;
        a {
            text-decoration: none;
            color:rgba(51, 51, 51, 1);
        }
    }
}

@include screen(1024) {
    footer {
        padding:25px;
        background-position: left;
        &:before {
            content:"";
            position: absolute;
            // background:url('/wp-content/themes/system-label/blocks/theme-footer/footer-bg-two.png');
            background:var(--two);
            background-repeat: no-repeat;
            background-position-x: right;
            background-position-y: 78%;
            background-size: 59%;
            top:0;
            bottom:0;
            left:0;
            right:0;
            z-index:-1;
        }
        .wrapper {
            display:flex;
            justify-content:space-between;
            padding-bottom: 150px;
            padding-top: 60px;
        }
        .left {
            padding-bottom: 0px;
        }
        .right {
            padding-bottom: 0px;
            flex:0 0 500px;
            max-width:500px;
        }
    }
}

// .fade-in {
//     transform: translate3d(0,50px,0);
//     transition-property: opacity,transform;
//     transition-duration: 0.8s;
//     transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
//     opacity: 0;
// }

.fade {
    &-up {
        opacity: 0;
        transform: translate3d(0,100px,0);
        transition-property: opacity,transform;
        transition-duration: 1.5s;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    }
    
}