{% extends "block-base.twig" %}

{% block content %}
<footer class="footer {{block.className}}" {{blockSection(block)}} style="--one:url(https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/footer-bg.png);--two:url(https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/footer-bg-two.png)">
    <div class="container">
        <div class="wrapper">
            <div class="left">
                <img width="198" height="138" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/logos-xl.png" alt="nqa logos">
            </div>
            <div class="right">
                <ul>
                    <li class="logo"><img height="89" width="246" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/logo.png" alt="System Label Logo"></li>
                    <li class="name"><strong>System Label Technology Ltd,</strong> trading as <strong>System Label</strong></li>
                    <li class="phone"><a href="tel:00353906630900">+353 (0)90 66 30 900</a><img height="30" width="30" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/phone-xl.png" alt="phone icon"></li>
                    <li class="email"><a href="mailto:info@system-label.com">info@system-label.com</a><img height="30" width="30" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/email-xl.png" alt="email icon"></li>
                    <li class="address"><span>System Label, IDA Business & Technology Park, Racecourse Road, Roscommon, Co. Roscommon, F42 P290, Ireland</span><img height="30" width="30" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/address-xl.png" alt="address-icon"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>
    let elementCallback = function (entries, observer) {
        entries.forEach(entry => {
            if(entry.isIntersecting) {
                entry.target.style.opacity = "100%";
                entry.target.style.transform = "translateZ(0)";
            }
        });
    };

    let elementObserver = new IntersectionObserver(elementCallback, {
        rootMargin: "-20% 0% -25% 0%",
        threshold: 0,
    });

    document.querySelectorAll('.fade-up').forEach(function(e) {
        elementObserver.observe(e);
    });
</script>
{% endblock %}
