@use "mixins" as *;

.wp-block-button__link {
    transition: all 0.3s ease-out;
    background: #ce1126;
    color: #fff;
    font-weight: 700;
    padding: 16px 38px;
    border-radius: 0;
    font-size: 16px;
    &:hover {
        background:darken(#ce1126, 10%);
    }
}