@use "mixins" as *;

body {
    margin:0;
}

.container {
    margin: 0 auto;
    position: relative;
    width: auto;
    max-width: 960px;
    &.is-style-fluid {
        max-width: none!important;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
    @include screen(1280) {
        max-width: 1130px;
    }
    @include screen(1366) {
        max-width: 1280px;
    }
    @include screen(1440) {
        max-width: 1366px;
    }
}
