@use "mixins" as *;

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/system-label/assets/fonts/icomoon.ttf") format("truetype");
  src: url("/wp-content/themes/system-label/assets/fonts/icomoon.woff") format("woff");
  src: url("/wp-content/themes/system-label/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-regular - latin */

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''),
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.svg#Ubuntu') format('svg');
  /* Legacy iOS */
}

html {
  font-family: 'Ubuntu', sans-serif;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
}

a {
  color: #1D488E;
}

h2 {
  color: #CE1126;
  font-size: 50px;
  line-height: 57px;
  font-weight: 700;
  margin-bottom: 30px;
}

strong {
  font-weight: 700;
}
