$breakpoint-m:  768px !default;
$breakpoint-l: 1024px !default;
$breakpoint-xl: 1210px !default;


@mixin screen($from: 0, $until: 0) {
  @if $from==0 {
      @media only screen and (max-width: ($until * 1px)) {
          @content;
      }
  } @else if $until==0 {
      @media only screen and (min-width: ($from * 1px)) {
          @content;
      }
  } @else {
      @media only screen and (min-width: ($from * 1px)) and (max-width: ($until * 1px)) {
          @content;
      }
  }
}