@import "mixins.scss";

.product-showcase {
    margin-bottom: 25px;
    padding:25px;
    .products {
        display:flex;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
    }
    .product {
        position:relative;
        // flex: 0 0 48.5%;
        flex: 0 0 calc(50% - 8px);
        max-width: 330px;
        background:var(--bg);
        min-height: 220px;
        border-radius: 10px;
        display: flex;
        align-items: self-end;
        justify-content: center;
        overflow: hidden;
        // margin-bottom: 14px;
        text-align: center;
        &:before {
            content:"";
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(360deg, #333333 0%, #333333DE 32%, #3333331E 57%, #33333300 100%) 0% 0% no-repeat padding-box;
        }
    }
    .label {
        font-weight:700;
        color:white;
        position: relative;
        margin-bottom: 25px;
        pointer-events: none;
    }
    h2 {
        margin-bottom: 50px;
        font-size:40px;
        line-height:46px;
    }
}

@include screen(1024) {
    .product-showcase {
        margin-bottom: 50px;
        padding:0px;
        h2 {
            font-size:50px;
            line-height:57px;
            margin-bottom: 80px;
        }
        .product {
            flex: 0 0 24%;
        }
    }
}