{% extends "block-base.twig" %}

{% block content %}
<section class="product-showcase {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="top">
            {{fields.content.content}}
            </div>
            <div class="products fade-up">
                {% for item in fields.content.items %}
                    <div class="product" style="--bg:url('{{cdnThis(item.image.url)}}')">
                        <div class="label">{{item.label}}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
