.top-bar {
  background: #CE1126 url("/wp-content/themes/system-label/blocks/top-bar/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: color-burn;
}
.top-bar .wrapper {
  padding: 16px 0;
}
.top-bar a {
  color: white;
  font-size: 18px;
  line-height: 1;
  text-decoration: none;
  font-weight: 700;
}
.top-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.top-bar li {
  margin: 0 40px;
  margin-bottom: 10px;
}
.top-bar li a {
  display: flex;
  align-items: center;
}
.top-bar li img {
  margin-right: 17px;
}

@media only screen and (min-width: 1024px) {
  .top-bar {
    background-size: contain;
  }
  .top-bar .wrapper {
    padding: 32px 0;
  }
  .top-bar ul {
    justify-content: flex-end;
  }
  .top-bar a {
    font-size: 18px;
  }
  .top-bar li {
    margin-bottom: 0px;
  }
  .top-bar li img {
    margin-right: 17px;
  }
}

/*# sourceMappingURL=style.css.map */
