{% extends "block-base.twig" %}

{% block content %}
<section class="top-bar {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="rl">
                <li><a class="phone" href="tel:00353906630900"><img height="30" width="30" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/top-bar/phone-xl.png" alt="phone icon"> +353 (0)90 66 30 900</a></li>
                <li><a class="email" href="mailto:info@system-label.com"><img height="30" width="30" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/top-bar/email-xl.png" alt="email icon">info@system-label.com</a></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
