html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1130px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1366px;
  }
}

@font-face {
  font-family: "icomoon";
  src: url("/wp-content/themes/system-label/assets/fonts/icomoon.ttf") format("truetype");
  src: url("/wp-content/themes/system-label/assets/fonts/icomoon.woff") format("woff");
  src: url("/wp-content/themes/system-label/assets/fonts/icomoon.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.woff2") format("woff2"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.woff") format("woff"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.ttf") format("truetype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-300.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.woff2") format("woff2"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.woff") format("woff"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.ttf") format("truetype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-regular.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.woff2") format("woff2"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.woff") format("woff"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.ttf") format("truetype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-500.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.woff2") format("woff2"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.woff") format("woff"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.ttf") format("truetype"), url("/wp-content/themes/system-label/assets/fonts/ubuntu-v20-latin-700.svg#Ubuntu") format("svg");
  /* Legacy iOS */
}
html {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 20px 0;
}

a {
  color: #1D488E;
}

h2 {
  color: #CE1126;
  font-size: 50px;
  line-height: 57px;
  font-weight: 700;
  margin-bottom: 30px;
}

strong {
  font-weight: 700;
}

.wp-block-button__link {
  transition: all 0.3s ease-out;
  background: #ce1126;
  color: #fff;
  font-weight: 700;
  padding: 16px 38px;
  border-radius: 0;
  font-size: 16px;
}
.wp-block-button__link:hover {
  background: #9f0d1d;
}

/*# sourceMappingURL=base.css.map */
