.testimonial-showcase {
  margin-bottom: 25px;
  padding: 0 25px;
}
.testimonial-showcase .testimonials {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: stretch;
  flex-direction: column;
}
.testimonial-showcase .testimonial {
  flex: 0 0 100%;
  max-width: 595px;
  padding: 43px;
  background: #F5F4F4;
  border-radius: 10px;
  position: relative;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .testimonial-showcase .testimonial {
    max-width: 41%;
  }
}
@media only screen and (min-width: 1366px) {
  .testimonial-showcase .testimonial {
    max-width: 595px;
  }
}
.testimonial-showcase .testimonial:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 34px;
  background-image: url("/wp-content/themes/system-label/blocks/testimonial-showcase/icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  top: -15px;
  left: 15px;
}
.testimonial-showcase .testimonial:after {
  position: absolute;
  content: "";
  height: 42px;
  width: 34px;
  background-image: url("/wp-content/themes/system-label/blocks/testimonial-showcase/icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
  bottom: -27px;
  right: 15px;
}
.testimonial-showcase .name {
  font-size: 24px;
  line-height: 28px;
  color: #CE1126;
  font-weight: 700;
}
.testimonial-showcase .title {
  font-size: 16px;
  color: rgba(51, 51, 51, 0.55);
  margin-top: 10px;
  margin-bottom: 20px;
}
.testimonial-showcase .content {
  font-style: italic;
}
.testimonial-showcase .top p {
  max-width: 800px;
  margin: auto;
  margin-bottom: 80px;
}
.testimonial-showcase .bot {
  color: rgba(51, 51, 51, 0.6);
  font-size: 16px;
  max-width: 915px;
  margin: 40px auto;
}
.testimonial-showcase h2 {
  margin-top: 20px;
  font-size: 40px;
  line-height: 46px;
}

@media only screen and (min-width: 1024px) {
  .testimonial-showcase {
    margin-bottom: 50px;
    padding: 0px;
  }
  .testimonial-showcase .bot {
    margin: 80px auto;
  }
  .testimonial-showcase .testimonials {
    flex-direction: row;
  }
  .testimonial-showcase .testimonial {
    flex: 0 0 42.5%;
    margin-bottom: 0;
  }
  .testimonial-showcase h2 {
    margin-top: 40px;
    font-size: 50px;
    line-height: 56px;
  }
}

/*# sourceMappingURL=style.css.map */
